@charset "utf-8";

html {
    font-size: 100%;
    background-color: hsl(12, 84%, 64%);
}

body h1 {
    font-size: 50px;
    background-color: rgb(136, 207, 198);
    text-align: center;
    color: white;
}

#introduction {
    font-size: 20px;
}

.gallery {
    text-align: center;
    border-bottom: solid gray;
    padding: 15px;
    margin: 5px;
}

.grid {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
}

/* footer */
footer {
    background: #e26273;
    text-align: center;
    padding: 5px 0;
}

footer p {
    color: #fff;
    font-size: 0.875rem;
}

#main-image img {
    width: 85%;
}

.item img {
    width: 100%;
}


/* iphone */
@media (max-width: 834px) {
    body h1 {
        font-size: 30px;
    }

    .grid {
        display: flex;
        flex-direction: column;
    }
}
